###
git+https://github.com/Masterolic/pyrogram.git
tgcrypto
lyricsgenius
git+https://github.com/yt-dlp/yt-dlp/
python-dotenv
requests
asgiref
deezer-python
spotipy
psutil
youtube-dl
aiohttp
aiofiles
apscheduler
mutagen
pymongo[srv]==3.12.3
bs4
motor==2.5.1
Shazamio
youtube_search
youtube-search-python
Pillow
wget
youtube-search-python
